*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100vh;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

}

nav{
    display: flex;
    height: 65px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: fixed;
    margin-bottom: 40px;
    background: white;
}

nav img{
    width: 250px;
    height: 30px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    font-size: 0.9em;
    margin-left: 20px;
}

nav ul li a{
    color: #acacac;
    transition: all 0.5s ease-in;
}

nav ul li a:hover{
    color: #29cdb3;
}

nav ul li .about{
    color: #29cdb3;
}

main{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

main .section1{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

main .section1 .part-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

main .section1 .part-one img{
    width: 45px;
    height: 45px;
    margin-bottom: 30px;
}

main .section1 .part-one h1{
    font-weight: lighter;
    font-size: 30px;
    color: #29cdb3;
    margin-bottom: 60px;
}

main .section1 .part-one div{
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
}

main .section1 .part-one div p{
    font-size: 1em;
    color: #7c7c7c;
    line-height: 1.6em;
}

main .section1 .part-two {
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
    justify-items: center;
    margin-bottom: 50px;
}

main .section1 .part-two .item{
    height: 360px;
    width: 300px;
    background-color: #29cdb3;
    border-radius: 14px;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .section1 .part-two .item2{
    background-color: #3d83df;
}

main .section1 .part-two .item3{
    background-color: #1b2734;
}

main .section1 .part-two .item .top img{
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
}

main .section1 .part-two .item .top h1{
    font-weight: lighter;
    color: white;
    font-size: 1.8em;
    letter-spacing: 1.2px;
    margin-bottom: 14px;
}

main .section1 .part-two .item .top p{
    color: aliceblue;
    font-size: 1.4em;
    font-weight: lighter;
}

main .section1 .part-two .item .bottom select{
    background: none;
    color: #fff;
    width: 235px;
    margin-top: 20px;
    font-size: 1.2em;
    text-decoration: underline;
    border: none;
}

main .section1 .part-two .item .bottom select option{
    color: #1b2734;
}

main .section1 .part-three{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

main .section1 .part-three .gauche{
    width: 40%;
    padding-left: 18%;
}

main .section1 .part-three .gauche p{
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: 100;
    color: #29cdb3;
}

main .section1 .part-three .droite{
    width: 55%;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    align-items: center;
} 

main .section1 .part-three .droite img{
    display: none;
    width: 100px;
    height: 60px;
}

main .section2{
    background-color: rgba(40, 204, 177, 0.15)
}


footer{
    text-align: center;
    margin-bottom: 0;
}